<!DOCTYPE html>
<html>
	<head>
	  <title>Rings</title>
	   
	  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	 
	  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a href="index.html" class="navbar-brand">
        <%=image_tag(Product.find(1).image_url, width: '20')%>
        </a>
    <div >
    <nav class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span = class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </nav>

    <nav class="navbar-collapse collapse">
    	<%= form_tag(products_path, method: "get",class:"navbar-form navbar-nav",role:"searchbar") do %>
		    	<div class="form-group">
						 <%= text_field_tag(:q,nil, class:"form-control") %>
				</div>
				<%= submit_tag("Search", class:"btn btn-default") %>
		<% end %>
      <ul class="nav navbar-nav navbar-right">
      			<li><%= link_to "Home", root_path %></li>
	      		<li><%= link_to "Rings", products_path %></li>
	      		<li><%= link_to "About", static_pages_about_path %></li>
	      		<li><%= link_to "Contact", static_pages_contact_path %></li>
				<% if user_signed_in? %>
				  <li>
				  <%= link_to 'Logout', destroy_user_session_path %>        
				  </li>
				<% else %>
				  <li>
				  <%= link_to('Login', new_user_session_path,class:"btn btn-default navbar-btn navbar-right")  %>
				  </li>
				<% end %>   		
        
        </ul>
    </nav>
    </div> 
  </nav>
	<p class="notice"><%=notice%></p>
	<p class="alert"><%=alert%></p>

	<div class="container">
	<%= yield %>
	</div>

	</body>
</html>
