<!DOCTYPE html>
<html>
	<head>
	  <title>Rings</title>
	  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
      		<a class="navbar-brand" href=>
        	<%=image_tag(Product.find(1).image_url, width: '20')%>
      		</a>

      		<ul class="nav navbar-nav">
	      		<li><%= link_to "Home", root_path %></li>
	      		<li><%= link_to "Rings", products_path %></li>
	      		<li><%= link_to "About", static_pages_about_path %></li>
	      		<li><%= link_to "Contact", static_pages_contact_path %></li>
      		</ul>
      		<button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
      		
    		
  		</div>
	</nav>

	<%= yield %>

	</body>
</html>
